html{
    background-color: #FAFAFA;
}

header {
    padding: 10px 50px;
    border-bottom: 1px solid #dee2e6;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    border: 1px solid lightskyblue;
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: blue; /* Adjust as needed */
    font-weight: bold;
    font-size: 23px;
}

.nav-links span {
    color: black; /* Color of the "|" separator */
}

.nav-links h3 {
     margin: 0; /* Removes default margin from h3 */
 }

.nav-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px; /* Adds spacing between links */
}

footer {
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top: 1px solid #dee2e6;
}

a {
    color: #007bff;
}

.body-content {
    text-align: center;
    padding: 10px 50px 50px 50px;
}

.beerCollection{
    text-align: center;
}

.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    text-align: center;
    width: 20%;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
}

.margin12 {
    margin: 12px 0px 12px 0px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    margin: 12px 0px 12px 0px;
    width: 200px;
    height: 25px;
}

.form-error {
    color: #dc3545;
}

.btn-primary {
    border-color: #007bff;
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #007bff;
    border-radius: 50px;
    height: 40px;
    width: 98px;
}

.btn-danger {
    padding: 6px;
    text-align: center;
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #dc3545;
    border: 2px solid black;
    border-radius: 10px;
}

a.nav {
    margin: 6px 6px 6px 6px;
}

.label-error {
    color: red
}

#about{
    text-align: center;
}

li{
    padding-bottom: 7px;
}

.AllNoBeersText{
    text-align: center;
    text-decoration: underline 1.8px;
}

.CreateBeerButton{
    text-align: center;
    padding: 6px;
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    border: 2px solid black;
}

.log-register{
    text-align: center;
}

#homePageLogo{
    width: 400px;
    border: 1px solid lightblue;
    border-radius: 14px;
}

#beerTable{
    border: 2px solid lightblue;
    display: inline-block;
    padding: 2px 24px 2px 24px;
    border-radius: 20px;
    margin-bottom: 30px;
}

