<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <title>BeerTag | About</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

<header>

    <div class="header-container">
        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
        <div class="nav-links">
            <h3>
                <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
                | <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
                | <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
                | <a href="#" th:if="${isAuthenticated}" th:href="@{/users}" th:text="#{navigation.user}">User</a>
                |  <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
                |  <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}" th:text="#{navigation.register}">Register</a>
                |  <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
            </h3>
        </div>
    </div>

</header>

<div id="about">
    <h1>About BeerTag</h1>
    <h3>Overview</h3>
    <p style="padding: 0px 40px 20px 40px">
        BeerTag enables your users to manage all the beers that they have drunk and want to drink.
        Each beer has detailed information about it from the ABV (alcohol by volume) to the style and who created it.
        Data is community driven, and every beer lover can add new beers or update his old ones.
        Of course, there are different users with all the information about them -
        first and last name, username, email and password. You can see this user info and your own wishlist.
        There are also admins with some special abilities such as deleting / editing users and beers
    </p>
    <hr>
    <h3>Features</h3>
    <li> Log in</li>
    <li> Browse all beers</li>
    <li> Filter beers by name, ABV and style, and sort them by name and ABV</li>
    <li> Create new beers</li>
    <li> Add beer to your wishlist</li>
    <li> Edit and delete own beers</li>
    <li style="margin-bottom: 20px"> Administrators are able to edit/delete all beers and users</li>
    <hr>
    <h3>Technologies used</h3>
    <li>Java</li>
    <li>Spring</li>
    <li>ThymeLeaf</li>
    <li style="margin-bottom: 20px">SQL</li>
</div>

<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
</footer>

</body>
</html>