<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>BeerTag | Edit Beer</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

    <header>

        <div class="header-container">
            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
            <div class="nav-links">
                <h3>
                    <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
                    | <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
                    | <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
                </h3>
            </div>
        </div>

    </header>

    <div style="text-align: center">

        <h2 style="text-decoration: underline 1.8px;">Edit Beer</h2>

        <form th:replace="~{beer-new.html :: beer-form}"></form>

    </div>

    <footer>
        <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
    </footer>

</body>
</html>