<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>BeerTag | Single Beer</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

<header>
    <div class="header-container">
        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
        <nav class="nav-links">
            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
            <span>|</span>
            <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/users}" th:text="#{navigation.user}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}" th:text="#{navigation.register}">Register</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
        </nav>
    </div>
</header>

    <div style="text-align: center">

        <h2 style="text-decoration: underline 1.8px;">The beer YOU selected:</h2>

        <div class="table" id="beerTable">

                <h2 th:text="${beer.getName()}">Beer Name</h2>
                <h2 th:text="${beer.getAbv()}">4.5</h2>
                <h2 th:text="${beer.getStyle().getName()}">Porter</h2>

        </div>


        <h3>
            <a class="CreateBeerButton" href="#" th:href="@{/beers/{id}/update(id = ${beer.getId()})}" th:text="#{navigation.update}">Update Beer</a>
            |   <a class="btn-danger" href="#" th:href="@{/beers/{id}/delete(id = ${beer.getId()})}" th:text="#{navigation.delete}">Delete Beer</a>
        </h3>

    </div>

    <footer>
        <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
    </footer>
</body>
</html>