<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>BeerTag | All Beers</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

<header>
    <div class="header-container">
        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
        <nav class="nav-links">
            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
            <span>|</span>
            <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/users}" th:text="#{navigation.user}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}" th:text="#{navigation.register}">Register</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
        </nav>
    </div>
</header>

<form class="body-content" action="#" th:action="@{__${requestURI}__}" th:object="${filterDto}" method="get">
    <div class="body-content">
        <input type="text" placeholder="Beer Name" th:field="*{name}">
        <input type="number" placeholder="Min ABV" min="0" max="10" th:field="*{minAbv}">
        <input type="number" placeholder="Max ABV" min="0" max="10" th:field="*{maxAbv}">

        <select th:field="*{styleId}">
            <option value="">All Styles</option>
            <option th:each="style : ${styles}"
                    th:value="${style.id}"
                    th:text="${style.name}">
                BeerStyleOne
            </option>
        </select>

        <select th:field="*{sortBy}">
            <option value="">Sort by</option>
            <option value="name">By name</option>
            <option value="abv">By abv</option>
            <option value="style">By style</option>
        </select>

        <select th:field="*{sortOrder}">
            <option value="">Ascending</option>
            <option value="desc">Descending</option>

        </select>

        <input type="submit" value="Filter">
    </div>
</form>




<div th:if="${beers.isEmpty()}">
    <h2 class="AllNoBeersText" th:text="#{beers.title.empty}">No Beers To Show </h2>
</div>

<div th:unless="${beers.isEmpty()}">

    <h2 class="AllNoBeersText" th:text="#{beers.title}">All Bears </h2>

    <h3 style="text-align: center; margin-bottom: 30px">
        <a class="CreateBeerButton" href="#" th:href="@{/beers/new}" th:text="#{navigation.create}">Create Beer</a>
    </h3>

    <div class="table">

        <div class="header">

            <div class="cell" th:text="#{beer.label.name}"> Name </div>
            <div class="cell" th:text="#{beer.label.abv}"> ABV </div>
            <div class="cell" th:text="#{beer.label.style}"> Style </div>
            <div class="cell" th:text="#{beer.label.email}"> Email </div>

        </div>

        <div class="row" th:each="beer : ${beers}">

            <div class="cell">
                <a href="#" th:href="@{/beers/{id}(id = ${beer.getId()})}" th:text="${beer.name}">Beer</a>
            </div>

            <div class="cell" th:text="${beer.abv}"> 4.5 </div>
            <div class="cell" th:text="${beer.style.name}"> Style </div>
            <div class="cell" th:text="${beer.createdBy.email}"> Email </div>

        </div>

    </div>
</div>

    <footer>
        <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
    </footer>

</body>
</html>