<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>BeerTag | New Beer</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

    <header>

        <div class="header-container">
            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
            <div class="nav-links">
                <h3>
                    <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
                    | <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
                    | <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
                </h3>
            </div>
        </div>

    </header>

    <h2>New Beer</h2>

    <form th:fragment="beer-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${beer}" method="post">

        <label th:text="#{beer.label.name}">Beer</label>
        <br>
        <input type="text" th:field="*{name}"/>
        <label class="form-error" th:errors="*{name}">Name error placeholder</label>
        <br><br>

        <label th:text="#{beer.label.abv}">ABV</label>
        <br>
        <input type="text" th:field="*{abv}"/>
        <label class="form-error" th:errors="*{abv}">ABV error placeholder</label>
        <br><br>

        <label th:text="#{beer.label.style}">Style</label>
        <br>
        <select th:field="*{styleId}">
            <option th:each="style : ${styles}"
                    th:value="${style.getId()}"
                    th:text="${style.getName()}">
                Beer Style One
            </option>
        </select>
        <label class="form-error" th:errors="*{styleId}">Style error placeholder</label>
        <br><br>

        <input type="submit" value="Save">
        
    </form>
    
    <footer>
        <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
    </footer>

</body>
</html>