<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
<header>
    <div class="header-container">
        <img src="../static/images/logo.png" alt="Company Logo" class="logo">

        <div class="nav-links">
            <h3>
                <a href="./HomeView.html">Home</a>
                | <a href="./BeersView.html">Beers</a>
                | <a href="./About.html">About</a>
            </h3>
        </div>
    </div>
</header>

<div>

    <h1 class="beerCollection">Beer Collection</h1>

    <table class="table">
        <thead class="header">
             <tr>
            <th class="header-cell">Number</th>
            <th class="header-cell">Name</th>
            <th class="header-cell">ABV</th>
             </tr>
        </thead>

        <tr class="row">
            <td class="cell">1</td>
            <td class="cell">Glarus English Ale</td>
            <td class="cell">4,6</td>
        </tr>

        <tr class="row">
            <td class="cell">2</td>
            <td class="cell">Rhombus Porter</td>
            <td class="cell">5,0</td>
        </tr>

        <tr class="row">
            <td class="cell">3</td>
            <td class="cell">Opasen char</td>
            <td class="cell">5,6</td>
        </tr>

        <tr class="row">
            <td class="cell">4</td>
            <td class="cell">Ailyak</td>
            <td class="cell">6,6</td>
        </tr>

        <tr class="row">
            <td class="cell">5</td>
            <td class="cell">Basi Kefa</td>
            <td class="cell">6,7</td>
        </tr>
    </table>

</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>