<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <title>BeerTag</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
<header>
    <div class="header-container">
        <img src="../static/images/logo.png" alt="Company Logo" class="logo">
        <div class="nav-links">
            <h3>
                <a href="./homeView.html">Home</a>
                | <a href="./beersView.html">Beers</a>
                | <a href="./about.html">About</a>
            </h3>
        </div>
    </div>
</header>
<div class="body-content">
    <h1>Welcome to BeerTag</h1>
    <p>Your perfect location to see all the beer information you will ever need</p>
</div>
<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>