<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>BeerTag | Home</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

<header>
    <div class="header-container">
        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
        <nav class="nav-links">
            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
            <span>|</span>
            <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/users}" th:text="#{navigation.user}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}" th:text="#{navigation.register}">Register</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
        </nav>
    </div>
</header>

    <div class="body-content">
        <h2 th:text="#{home.welcome}">Welcome</h2>
        <p>Your perfect location to see all the beer information you will ever need</p>
        <h2 th:if="${isAuthenticated}" th:text="${session.currentUser}"> Hello, username</h2>
        <img id="homePageLogo" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="BeerTag logo"/>
    </div>

    <footer>
        <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
    </footer>

</body>

</html>