<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>BeerTag | Home</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

    <header>

        <div class="header-container">
            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
            <div class="nav-links">
                <h3>
                    <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
                    |  <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
                    |  <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
                    | <a href="#" th:href="@{/user}" th:text="#{navigation.user}">User</a>
                    |  <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
                    |  <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}" th:text="#{navigation.register}">Register</a>
                    |  <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
                </h3>
            </div>
        </div>

    </header>

    <div class="body-content">
        <h2 th:text="#{home.welcome}">Welcome</h2>
        <p>Your perfect location to see all the beer information you will ever need</p>
        <h2 th:if="${isAuthenticated}" th:text="${session.currentUser}"> Hello, username</h2>
        <img id="homePageLogo" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="BeerTag logo"/>
    </div>

    <footer>
        <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
    </footer>

</body>

</html>