<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BeerTag | LogIn</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

</head>


<body>

<header>
    <div class="header-container">
        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" class="logo" alt="BeerTag logo"/>
        <nav class="nav-links">
            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home Page</a>
            <span>|</span>
            <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/users}" th:text="#{navigation.user}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}" th:text="#{navigation.register}">Register</a>
            <span th:if="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
        </nav>
    </div>
</header>

<div class="log-register">

    <h2 style="text-decoration: underline 1.8px;">Login</h2>

    <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">

        <label class="form-label" th:text="#{user.label.username}"> Username </label>
        <br>
        <input class="form-input" type="text" th:field="*{username}" placeholder="Enter username:">
        <label class="form-error" th:errors="*{username}"> Username error placeholder </label>
        <br><br>

        <label class="form-label" th:text="#{user.label.password}"> Password </label>
        <br>
        <input class="form-input" type="password" th:field="*{password}" placeholder="Enter password:">
        <label class="form-error" th:errors="*{password}"> Password error placeholder </label>
        <br> <br>

        <input class="btn-primary" type="submit" value="Login">

    </form>

</div>

<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
</footer>


</body>
</html>